@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Sunflower:wght@500&display=swap');
* { box-sizing:border-box;} /* (*은 전체선택자라는 뜻, 모든 정보에 boder-box를 넣겠다.) */
/* 웹글꼴 */
/* @import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap'); */
/* 로컬글꼴 font-face */
/* font-face로 연결하려는 로컬글꼴의 글꼴명, 글꼴의 경로를 먼저 작성해야한다! */

/*     font-family:'East Sea Dokdo'; /* 글꼴명 지정 */ /* 구분하기편하게 내마음대로 한글로도 지정가능 */
    /* src:url(../fonts/Sea.ttf); */ /* 글꼴경로 지정 */ 


/*  */
html,body,
h1,h2,h3,h4,h5,h6,p,blockquote,address,   
div,header,nav,aside,main,footer,article,figure,figcaption,section,video,
table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd, /* 테이블 */
form,fieldset,legend,input,select,option,button,label,textarea {/* 폼 */
    font-family: 'Noto Sans KR', sans-serif;
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal;
    text-decoration:none;
}
th {text-align:left; }
.contents2{text-align:center;}
.contents3{text-align:center;}
table,tr,th,td{border-collapse:collapse;}
ul,ol,li {list-style:none;}
a{color:#000}
input{outline:none;border:0;}